html {
    font-size: 62.5%;
}

body {
    color: #000;
    background: #f0f0f0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
    /* height: 600px; */
}

:root {
    --text-size: 1.4rem;
    --margtop: 10px;
}


header {
    height: 80px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid tomato; */
    margin: 0 0 0 auto;

    h1 img {
        /* display: block; */
        width: 100px;
        height: auto;
        /* margin-left: 100px; */
    }
}

nav {
    ul {
        display: flex;

        li {
            padding-right: 32px;

            a {
                color: #000;
                font-size: var(--text-size);
            }
        }
    }
}

.main_visual img {
    object-fit: cover;
    height: calc(100vh - 80px);
    vertical-align: bottom;
}


.ttl {
    h2 {
        font-size: 3.6rem;
        font-weight: lighter;
        letter-spacing: 10px;
        margin-top: 230px;
        /* margin-bottom: 3px; */
    }

    p {
        font-size: var(--text-size);
        font-weight: lighter;
        margin-bottom: 30px;
    }

    &::after {
        content: "";
        display: block;
        width: 40px;
        height: 1px;
        background: #000;
        margin-bottom: 55px;
    }
}

.news {
    /* width: 90%; */
    max-width: 1032px;
    /* border: 1px solid tomato; */
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
}

.time_list_wrap {
    display: flex;
    justify-content: space-between;
    width: 70%;
    /* border: 1px solid tomato; */
    /* margin: 0 auto; */
}


.time_list {
    width: calc(100%/3);
    border-left: 1px solid #000;
    padding: 10px 20px;

    .time {
        margin-bottom: 10px;

        time {
            font-size: var(--text-size);
        }

        span {
            color: #fff;
            font-size: 1.2rem;
            background: #000;
            padding: 5px 8px;
            margin-left: 15px;
        }

        p {
            font-size: var(--text-size);
        }
    }
}

.time_list:first-child {
    border: none;
    padding: 10px 0;
    /* border: 1px solid tomato; */

}



.about {
    display: flex;
    width: 100%;

    .ttl_txt {
        width: 45%;
        padding: 180px 5% 0 5%;

        p {
            font-size: var(--text-size);
        }
    }
}

.business {
    width: 50%;
    margin: 0 auto;
}

.item_flex_wrap {
    display: flex;
    gap: 65px;

    .item {
        margin-top: 50px;

        p {
            font-size: var(--text-size);
        }
    }
}

.item_flex:first-child {
    margin-top: 50px;
}

.company {
    display: flex;

    .info_wrap {
        /* position: relative; */
        background: #fff;
        padding: 100px 8% 100% 6%;

        dl {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            font-size: var(--text-size);

            dt {
                width: 20%;
                margin-top: var(--margtop);
            }

            dd {
                width: 80%;
                margin-top: var(--margtop);
            }

            .add {
                margin-left: 20%;
                margin-top: var(--margtop);
            }
        }
    }

    picture {
        img {}
    }
}